---
layout: default
published: true
---

<article class="post">
  <h1>{{ page.title }}</h1>

    
  <div class="entry">
    {{ content }}
  </div>

<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_x"></a>
<a class="a2a_button_mastodon"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_email"></a>
</div>
<script>
var a2a_config = a2a_config || {};
a2a_config.locale = "es";
</script>
<script defer src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
<br />

  <div id="graphcomment"></div>
<script type="text/javascript">

  /* - - - CONFIGURATION VARIABLES - - - */

  var __semio__params = {
    graphcommentId: "danoisblog", // make sure the id is yours

    behaviour: {
      // HIGHLY RECOMMENDED
      //  uid: "...", // uniq identifer for the comments thread on your page (ex: your page id)
    },

    // configure your variables here

  }

  /* - - - DON'T EDIT BELOW THIS LINE - - - */

  function __semio__onload() {
    __semio__gc_graphlogin(__semio__params)
  }


  (function() {
    var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
    gc.onload = __semio__onload; gc.defer = true; gc.src = 'https://integration.graphcomment.com/gc_graphlogin.js?' + Date.now();
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
  })();
  

</script>

<br />

  
  
 <div style="text-align: center; margin-top: 10px; margin-bottom: 25px;">
   {% if page.previous %}
  <a class="button" style="font-size: 12px;" title="Prev post" href="{{  site.baseurl }}{{  page.previous.url }}"><span class="fas fa-chevron-circle-left"></span>&nbsp;Anterior</a>
{% endif %}
 {% if page.next %}
  &nbsp;&nbsp;&nbsp;&nbsp;<a class="button" style="font-size: 12px;" title="Next post" href="{{  site.baseurl }}{{  page.next.url }}"><span class="fas fa-chevron-circle-right"></span>&nbsp;Siguiente</a>
{% endif %}
  </div>
<br />
  <div class="date" style="margin-top: 25px;">
    Por {{ page.author }} Fecha:
        {{  page.date | date: '%-d' }} /
            {% assign m = page.date | date: '%-m' %}
            {% case m %}
              {% when '1' %}enero
                {% when '2' %}febrero
                {% when '3' %}marzo
                {% when '4' %}abril
                {% when '5' %}mayo
                {% when '6' %}junio
                {% when '7' %}julio
                {% when '8' %}agosto
                {% when '9' %}septiembre
                {% when '10' %}octubre
                {% when '11' %}noviembre
                {% when '12' %}diciembre
            {% endcase %}
            /
            {{  page.date | date: '%Y' }}
    
       <div style="margin-top: 25px;">
            <div class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  Archivado: 
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories/{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>
       </div>
  </div>
  <br />
  <br />
  <hr />
  <div style="text-align: center; margin-top: 20px;">
  Puedes disfrutar de m&aacute;s publicacionesn como esta en  <a href="{{  site.baseurl }}/archive">en el sitio del archivo</a>.
  </div>
  {% include disqus.html %}
</article>
